    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px};
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    };

    .search-area {
      padding: 15px;
      width: 60px;
      margin-left: 20px;
    }

    header {
      padding: 20px;
      margin: 20px;
    }
    /* .forecast-title {
      display: flex;
      justify-content: end;
      margin: 20px;
    }  */

    h3.forecast-title {
      display: flex;
      justify-content: end;
      margin: 20px;

    }

    .card {
      border-radius: 10px;
    }

    .container {
      display: flex;
    }

    .element-box {
      padding: 10px;
      margin: 10px;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    };